*{
    text-align: center;
}
#title{
    color: blueviolet;
}
#question{
    color: fuchsia;
    font-family: fantasy;
    padding: 25px;
    font-size: 75px;
}
.row{
    font-family: cursive;
    padding: 25px;
    font-size: 35px;
}
#lettersguessed{
    color: blue;
} 
#guesses{
    color: rgb(216, 9, 95);
}
body{
    background: url("../images/weather.png")
}
#status{
    color:red;
    font-size: 250%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}